html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Merriweather', serif;
    font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Merriweather', serif;
    font-weight: 300;
}

a {
    text-decoration: none;
    color: black;
}
a:hover {
    color: blue;
}

.main-heading {
    /* letter-spacing: 10px; */
    color: white;
    margin: 0.5em 1em;
}

header {
    display: flex;
    background-color: rgba(137, 207, 240, 1);
}

nav {
    max-width: 1000px;
    margin: 0 auto 0 0;
    display: flex;
}

.nav-item {
    padding: 0.5em;
    margin: 10px;
}
